@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
}

<div id="main">

    <!-- Intro -->
    <section id="top" class="one dark cover">
        <div class="container">

            <header class="bg">
                <div class="reset">
                    <h2 class="alt reset"> Hello, I'm <strong>Rece Thompson-Hamilton</strong>, </h2>
                    <p>a dedicated C++/C# game developer with a passion for creating immersive game mechanics.</p>
                </div>
            </header>
                
            <footer class="bg">
                <div class="row col-12 col-12-mobile aln-center">
                    <p>I specialize in bringing ideas to life through code, with a strong desire to make a lasting impact in the gaming industry. My goal is to contribute my expertise to the development of AAA titles while continuously growing as a professional.</p>
                    
                    <p>Explore my portfolio to see how I can bring innovation and excellence to your game development team and be part of a thriving future in the gaming world."</p>
                </div>
            </footer>

        </div>
    </section>

	<!-- Skills -->
	<section id="skills" class="two">
		<div class="container">
			<header>
				<h2>My Skills</h2>
            </header>
            
            <div class = "split-table">
                <table>
                    <thead>
                        <tr><th colspan="2">Programming &amp; Scripting Languages</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>C#</td><td>C/C++</td></tr>
                        <tr><td>.Net</td><td>SQL</td></tr>
                        <tr><td>JavaScript</td><td>PHP</td></tr>
                        <tr><td>Perl</td><td>HTML</td></tr>
                    </tbody>
                </table>

                <div style="border-left: 1px solid black;"></div>

                <table>
                    <thead>
                        <tr><th colspan="2">Development Tools &amp; Technologies</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>JetBrains Rider</td><td>Microsoft Visual Studio</td></tr>
                        <tr><td>Unity</td><td>Unreal Engine</td></tr>
                        <tr><td>Direct X</td><td>Open GL</td></tr>
                        <tr><td>GitHub</td><td>Git</td></tr>
                    </tbody>
                </table>
            </div>
		</div>
	</section>
    
    <!-- Portfolio -->
    <section id="portfolio" class="three">
        <div class="container">

            <header>
                <h2>Portfolio</h2>
            </header>

            <!-- div class="row aln-center">
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <a href="" class="image fit">
                            <img src="images/placeholder.png" alt="placeholder" /></a>
                        <header>
                            <h3>Placeholder</h3>
                        </header>
                        <div class="info">
                            <p>Placeholder</p>
                            <p>Placeholder</p>
                            <p>Placeholder</p>
                        </div>
                    </article>
                </div>
            </div-->
            
            <h4>Latest Projects:</h4>
            <div class="row aln-center">
                
                <!-- MeteorMoshPit -->
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <a href="MeteorMoshPit.html" class="image fit">
                            <img
                                src="images/MeteorMoshPit Splashscreen.png?raw=true"
                                alt="Meteor Mosh Pit"
                                height="230px"/>
                        </a>
                        <header>
                            <h3>Meteor Mosh Pit</h3>
                        </header>
                        <div class="info">
                            <p>Coding Challenge: Asteroids Clone</p>
                            <p>Created using C++ and SFML library</p>
                            <p>Source files available on GitHub</p>
                        </div>
                    </article>
                </div>
                
                <!-- MineSweeper -->
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <a href="MineSweeper.html" class="image fit">
                            <img
                                src="images/Placeholder.png?raw=true"
                                alt="MineSweeper"
                                height="230px"/>
                        </a>
                        <header>
                            <h3>MineSweeper</h3>
                        </header>
                        <div class="info">
                            <p>Coding Challenge: MineSweeper Clone</p>
                            <p>Created using C# and Unity</p>
                            <p>Source files available on GitHub</p>
                        </div>
                    </article>
                </div>
                
                <!-- RefactaMasta -->
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <a href="RefactaMasta.html" class="image fit">
                            <img
                                src="images/Placeholder.png?raw=true"
                                alt="RefactaMasta"
                                height="230px"/>
                        </a>
                        <header>
                            <h3>RefactaMasta</h3>
                        </header>
                        <div class="info">
                            <p>Flocking Boids simulation - refactored</p>
                            <p>Created using C++ and DirectX</p>
                            <p>Source files available on GitHub</p>
                        </div>
                    </article>
                </div>
                
            </div> <!-- !row -->
            
            <br/>
            
            <h4>University Projects:</h4> 
            <div class="row aln-center">
                
                <!-- Midnight Harvest -->
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <a href="MidnightHarvest.html" class="image fit">
                            <img
                                src="images/Midnight%20Harvest%20poster.png?raw=true"
                                alt="Midnight Harvest by Nine Byte Warriors"
                                height="230px"/>
                        </a>
                        <header>
                            <h3>Midnight Harvest</h3>
                        </header>
                        <div class="info">
                            <p>Game and Engine</p>
                            <p>created by</p>
                            <p>Nine Byte Warriors</p>
                        </div>
                    </article>
                </div>

                <!-- Codeweavers Placement -->
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <a href="MidnightHarvest.html" class="image fit">
                            <!--img src="images/Midnight%20Harvest%20poster.png?raw=true" alt="Midnight Harvest by Nine Byte Warriors" height="230px" /-->
                            <img src="images/Codeweavers_Logo.png?raw=true" alt="Codeweavers Placement" height="230px"/>
                        </a>
                        <header>
                            <h3>Codeweavers Placement</h3>
                        </header>
                        <div class="info">
                            <p>Commercial Placement</p>
                            <p>Role: C# Backend Developer</p>
                            <p>Technologies: C#, ASP.Net</p>
                        </div>
                    </article>
                </div>

                <!-- Dragn'tor -->
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <a href="https://blackrece.itch.io/realm-of-dragntor"
                           class="image fit">
                            <img
                                src="images/Realm_of_Dragntor.png" 
                                alt="Realm of Dragntor"
                                height="230px"/>
                        </a>
                        <header>
                            <h3>Realm of Dragntor</h3>
                        </header>
                        <div class="info">
                            <p>Staffordshire University Group Game project.</p>
                            <p>Created by Code Damage using Unity.</p>
                            <p>Source files available on GitHub</p>
                        </div>
                    </article>
                </div>

            </div> <!-- !row -->
            
            <br/>
            
            <div class="row aln-center">
                            
                <!-- FlappyBird - Neural Network -->
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <a href="FlappyBird_NN.html" class="image fit">
                            <img
                                src="images/Placeholder.png?raw=true"
                                alt="FlappyBird - Neural Network"
                                height="230px"/>
                        </a>
                        <header>
                            <h3>FlappyBird -Neural Network</h3>
                        </header>
                        <div class="info">
                            <p>FlappyBird game played by a Neural network</p>
                            <p>Artificial Intelligence module</p>
                            <p>Created using C++ and DirectX</p>
                        </div>
                    </article>
                </div>

                <!-- LazarTag -->
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <a href="LazarTag.html" class="image fit">
                            <img 
                                src="images/Placeholder.png?raw=true" 
                                alt="LazarTag FYP"
                                height="230px"/>
                        </a>
                        <header>
                            <h3>LazarTag - FYP</h3>
                        </header>
                        <div class="info">
                            <p>Augmented Reality Mobile Application</p>
                            <p>Final Year Project</p>
                            <p>Created using C# and Unity</p>
                        </div>
                    </article>
                </div>

                <!-- Memory Manager -->
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <a href="MemoryManager" class="image fit">
                            <img 
                                src="images/Placeholder.png"
                                alt="Memory Manager"
                                height="230px"/>
                        </a>
                        <header>
                            <h3>Memory Manager</h3>
                        </header>
                        <div class="info">
                            <p>Cross platform memory manager</p>
                            <p>Low Level Games Programming module</p>
                            <p>Created using C++ to function on Windows and Linux operating systems.</p>
                        </div>
                    </article>
                </div>

            </div> <!-- !row -->
                
            <br/>
        
            <div class="row aln-center">
                    
                <!-- Satan Runner -->
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <a href="https://blackrece.github.io/SatanRunner/" class="image fit"><img src="images/satan_runner.jpg" alt="Satan Runner" /></a>
                        <header>
                            <h3>Satan Runner</h3>
                        </header>
                        <div class="info">
                            <p>Staffordshire University GameJam Winner.</p>
                            <p>Made using C# and Unity.</p>
                            <p>Source files available on GitHub</p>
                        </div>
                    </article>
                </div>

                <!-- Mario Clone -->
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <a href="https://blackrece.github.io/Mario-SDL/" class="image fit">
                            <img src="https://blackrece.github.io/Mario-SDL/images/Mario_splash_250x200.png" alt="Mario Clone" /></a>
                        <header>
                            <h3>Mario Clone</h3>
                        </header>
                        <div class="info">
                            <p>Staffordshire University Assignment for Games Engine Creation module.</p>
                            <p>Created using C++ and SDL library.</p>
                            <p>Source files available on GitHub</p>
                        </div>
                    </article>
                </div>

                <!-- Pacman Clone -->
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <a href="https://blackrece.github.io/Pacman-S2D/" class="image fit">
                            <img src="https://blackrece.github.io/Pacman-S2D/images/PacMan_Splash_250x200.png" alt="PacMan Clone" /></a>
                        <header>
                            <h3>PacMan Clone</h3>
                        </header>
                        <div class="info">
                            <p>Staffordshire University Assignment for Fundamentals of Games and Graphics module.</p>
                            <p>Created using C++ and S2D library.</p>
                            <p>Source files available on GitHub</p>
                        </div>
                    </article>
                </div>

            </div> <!-- !row -->
        
            <br/>
                
            <h4>Personal Projects:</h4>
            <div class="row aln-center">

                <!-- FPS-RPG -->
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <a href="FPS-RPG.html" class="image fit">
                            <img 
                                src="images/Placeholder.png"
                                alt="FPS-RPG"
                                height="230px"/>
                        </a>
                        <header>
                            <h3>FPS-RPG</h3>
                        </header>
                        <div class="info">
                            <p>FPS game with RPG elements.</p>
                            <p>Inspired by COD:BO3 modded zombies map.</p>
                            <p>Created using C# and Unity.</p>
                        </div>
                    </article>
                </div>

                <!-- TriFighter -->
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <!--a href="https://www.kongregate.com/games/BlackRece/tri-fighter" class="image fit"><img src="images/TriFighter_Icon.png" alt="TriFighter" /></a-->
                        <a href="TriFighter.html" class="image fit">
                            <img 
                                src="images/TriFighter_Icon.png"
                                alt="TriFighter Remake"
                                height="230px"/>
                        </a>
                        <header>
                            <h3>TriFighter Remake</h3>
                        </header>
                        <div class="info">
                            <p>Remake of an ActionScript game.</p>
                            <p>Inspired by R-Type.</p>
                            <p>Created using C# and Unity.</p>
                        </div>
                    </article>
                </div>
            </div>

        </div>
    </section>

    <!-- About Me -->
    <section id="about" class="four">
        <div class="container">

            <header>
                <h2>About Me</h2>
            </header>

            <!--a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a-->
            <div class="banner">
                <!--<img src="images/dragon twitter banner 1500x500.png" alt="" />-->
                <img class="" src="images/Rece image.jpg" alt="Rece the Developer" />
                <!--<div class="portrait-clear">&nbsp;</div>-->
            </div>
            
            <p>My journey in game development began with a lifelong love for games. In 2018, I made the conscious decision to transition this passion into a professional pursuit. It's a journey that started at the age of 11, where I first dabbled in game development as a hobby.</p>
               
            <p>Over the years, I've diligently cultivated my skills, merging my childhood curiosity with the rigor of professional development. I thrive on the logical process of finding solutions, crafting gameplay experiences that players truly enjoy.</p>
            
            <p>Notably, I contributed as a programmer to the winning team at a game jam hosted by Staffordshire University, which was judged by a CodeMasters representative. This experience has motivated me to participate in numerous game jams while juggling full-time studies.</p>
               
            <p>Beyond my technical skills, I relish the opportunity to connect with industry professionals at gaming exhibitions. These interactions not only allow me to express appreciation for their contributions but also provide invaluable insights and learning experiences.</p>
               
            <p>My goal is to contribute my expertise to the development of AAA titles while continuously growing as a professional in the gaming industry.</p>
        </div>
    </section>

</div>